<div>
    <h1>Enter Query Parameters</h1>
    <div style="margin: 10px;">
        <label for="keyword" style="margin-right: 10px;">Enter Keyword</label>
        <input type="text" id="keyword" placeholder="keyword">
    </div>
    <div>
        <label for="scope_id" style="margin-right: 10px;">Select keword_scope_id</label>
        <select name="keyword_scope_id" id="scope_id">
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
    </select>
    </div>
    <button (click)="OnSearch()">Search</button>
</div>